$color-grey-dark: #777;
$color-grey-dark2: #aaa;
$color-grey-dark3: #333;

$color-primary: #ff6b00;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000;

//fontsize
$default-font-size: 1.6rem;

//media queries
$phone: 600px; //37.5em
$tab-port: 900px; //56.5em
$tab-land: 1200px; //75em
$big-desktop: 1800px; //112.5em
