.footer {
  font-size: 1.4rem;
  position: relative;
  overflow: hidden;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-box {
    text-align: center;
  }

  &__logo {
    font-family: "Fuggles", cursive;
    color: rgba(#9055ff, 0.8);
    font-size: 3.5rem;

    @include respondMax($phone) {
      display: none;
    }
  }

  &__copyright {
    font-family: "Inconsolata", monospace;
    margin-left: 3rem;

    @include respondMax($tab-port) {
      display: block;
      text-align: center;
    }
  }

  &__socials {
    margin-right: 2rem;

    @include respondMax($phone) {
      margin-right: 0;
      width: fit-content;
    }
  }
}
