.header {
  height: 100vh;
  background-image: url($image);
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url($image);
  }

  @include respondMax($phone) {
    margin-bottom: 7rem;
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    font-family: "Fuggles", cursive;
    color: $color-secondary-dark;
    font-size: 3.5rem;
  }

  &__desc {
    display: flex;
    margin-top: 4rem;
    max-width: 70vw;

    &-1 {
      padding: 2rem 5rem;
      width: min-content;
      border-right: 1px solid $color-grey-dark;
    }

    &-2 {
      flex: 1;
      padding-left: 5rem;
      align-self: center;
    }
  }

  &__socials {
    text-align: center;
  }

  &__cta {
    padding-top: 3rem;
    margin: 0 auto;
    text-align: center;
  }
}

.glass-box {
  padding: 4rem;
  background-image: linear-gradient(
    rgba($color-black, 0.7),
    rgba($color-black, 0.7)
  );
  border-top: 2px solid rgba(225, 225, 225, 0.2);
  border-left: 1px solid rgba(225, 225, 225, 0.1);
  border-right: 1px solid rgba(225, 225, 225, 0.3);
  border-radius: 3px;
  box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
  position: relative;
}
