.header {
  min-height: 70vh;
  //background-image: url($image);
  background-image: linear-gradient(
    rgba($color-primary, 0.8),
    rgba($color-primary, 0.8)
  );
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__desc {
    display: flex;
    margin-top: 4rem;
    max-width: 70vw;

    &-1 {
      padding: 5rem;
      width: max-content;
      text-align: center;
    }

    &-2 {
      flex: 1;
      padding-left: 5rem;
      align-self: center;
    }
  }

  &__socials {
    text-align: center;
    color: $color-grey-light-1;
    margin-bottom: 4rem;
  }

  &__cta {
    padding-top: 2rem;
    margin: 0 auto;
    text-align: center;
  }
}
