*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: base-font-size(10px);
  scroll-behavior: smooth;

  @include respondMin($big-desktop) {
    font-size: base-font-size(13px);
  }

  @include respondMax($tab-land) {
    font-size: base-font-size(9px);
  }

  @include respondMax($tab-port) {
    font-size: base-font-size(8px);
  }

  @include respondMax($phone) {
    font-size: base-font-size(6px);
  }
}

body {
  padding: 2rem;
  padding-bottom: 0;
  box-sizing: border-box;

  @include respondMax($tab-port) {
    max-width: 100vw;
    padding: 0;
  }
}

::selection {
  background-color: rgba(#c974bd, 0.8);
  color: $color-white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(#9055ff, 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(#9055ff, 0.3);
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
