body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-secondary,
.heading-tertiary {
  font-family: "Nunito", sans-serif;
}

.heading-primary {
  color: $color-white;
  backface-visibility: hidden;

  &--main {
    font-family: "Italianno", cursive;
    display: block;
    line-height: 1.2;
    font-size: 8rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    animation: moveInLeft 1s ease-out;
  }

  &--secondary {
    font-family: "Inconsolata", monospace;
    font-size: 3rem;
    color: $color-grey-dark;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    line-height: 1rem;
    animation: moveInBottom 2s ease-out;
  }
}

.heading-secondary {
  font-size: 3rem;
  color: #db717e;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
  letter-spacing: 2px;

  @include respondMax($tab-port) {
    font-size: 3rem;
  }

  @include respondMax($phone) {
    font-size: 2.5rem;
  }
}

.heading-tertiary {
  color: $color-grey-dark2;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 2.2rem;
  font-weight: 400;
  color: $color-grey-dark;
  margin-bottom: 3rem;
  letter-spacing: 1.2px;
}
