body {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-family: "SinkinSans-400Regular", sans-serif;
}

.heading-primary {
  color: $color-grey-light-2;
  backface-visibility: hidden;

  &--main {
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.7rem;
    animation: moveInLeft 1s ease-out;

    @include respondMax($phone) {
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    //letter-spacing: 1.72rem;
    padding-left: 1.72rem;
    padding-bottom: 2rem;
    animation: moveInRight 1s ease;

    @include respondMax($phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  color: $color-primary-light;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 2px;

  @include respondMax($tab-port) {
    font-size: 3rem;
  }

  @include respondMax($phone) {
    font-size: 2.5rem;
    margin-top: 1.5rem;
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 2rem;
  color: $color-grey-dark2;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
