main {
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
}

.projects {
  height: 100rem;
  text-align: center;

  &__container {
    display: flex;
  }
}
